@model PaginatedList<Article>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (var item in Model)
    {
    <a href="/Article/Show/@item.Title" class="article-title"><h1 class="article-title">@Html.DisplayFor(modelItem => item.Title)</h1> </a>
    <span>Article created at @Html.DisplayFor(modelItem => item.CreationDate)</span>
        <hr />
        <p>@Html.Raw(item.Summary)</p>
    }
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>